.movies-section {
  height: 90vh;
}

.movies-section-header {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.movies-section-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-y: scroll;
}
